Repository funkrusher/fk-framework-play-slick: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fk-server, fk-scheduler

.gitlab-ci.yml:

stages:
  - triggers

fk-server:
  stage: triggers
  trigger:
    include: .gitlab-ci-fk_server.yml
    strategy: depend
  rules:
    - changes: [fk_server/**/*, fk_core/**/*, modules/fk_library/**/*, modules/fk_store/**/*, modules/fk_swagger_ui/**/*]

fk-scheduler:
  stage: triggers
  trigger:
    include: .gitlab-ci-fk_scheduler.yml
    strategy: depend
  rules:
    - changes: [fk_scheduler/**/*, fk_core/**/*]

changes, refactor build
  .bsp/sbt.json
  .gitlab-ci-fk_scheduler.yml
  .gitlab-ci-fk_server.yml
  .gitlab-ci.yml
  build.sbt
  docs/query-params.md
  fk_scheduler/app/scheduler/controllers/HealthcheckController.scala
  fk_scheduler/conf/application.conf
  fk_scheduler/conf/logback.xml
  fk_scheduler/conf/messages
  fk_scheduler/conf/routes
  project/build.properties
Due: fk-scheduler

changes
  fk_server/conf/application.conf
Due: fk-server

changes
  build.sbt
  fk_core/test/scala/models/UserSpec.scala
  modules/fk_library/app/library/controllers/AuthorTransferController.scala
  modules/fk_library/test/ApplicationSpec.scala
  modules/fk_library/test/IntegrationSpec.scala
  modules/fk_library/test/RootSpec.scala
  modules/fk_library/test/StackSpec.scala
Due: fk-server, fk-scheduler

explain the evilness of play2-compiler in intellij
  README.md
  modules/fk_library/app/library/controllers/AuthorTransferController.scala
Due: fk-server

create a first real unit-test
  build.sbt
  fk_core/app/core/dao/DAO.scala
  fk_core/app/core/dao/MultiKeyDAO.scala
  fk_core/app/core/dao/SingleKeyDAO.scala
  fk_core/app/core/persistence/DbRun.scala
  fk_core/app/core/util/QueryParamModel.scala
  modules/fk_library/app/library/daos/BookToBookStoreDAO.scala
  modules/fk_library/app/library/managers/BookToBookStoreManager.scala
  modules/fk_library/test/library/managers/BookToBookStoreManagerSpec.scala
Due: fk-server, fk-scheduler

fixes
  modules/fk_library/test/library/managers/BookToBookStoreManagerSpec.scala
Due: fk-server

changes
  .bsp/sbt.json
  .gitlab-ci-ideas.yml
  Dockerfile
  README.md
  build.sbt
  docker-compose.env.yml
  docs/datetime-vs-timestamp.md
  docs/mariadb-utc.md
  fk_core/app/core/dto/DTOImplicits.scala
  fk_core/app/core/tables/AuthorTable.scala
  fk_core/app/core/tables/BookTable.scala
  fk_core/app/core/tables/BookToBookStoreTable.scala
  fk_server/conf/evolutions/default/1.sql
  fk_server/conf/evolutions/default/2.sql
  modules/fk_library/app/library/daos/AuthorDAO.scala
  modules/fk_library/app/library/daos/BookDAO.scala
  modules/fk_library/app/library/daos/BookStoreDAO.scala
  modules/fk_library/app/library/daos/BookToBookStoreDAO.scala
  modules/fk_library/app/library/dtos/AuthorDTO.scala
  modules/fk_library/app/library/dtos/AuthorPaginateDTO.scala
  modules/fk_library/app/library/dtos/BookDTO.scala
  modules/fk_library/app/library/dtos/BookStoreDTO.scala
  modules/fk_library/app/library/dtos/BookToBookStoreDTO.scala
  modules/fk_library/app/library/managers/AuthorManager.scala
  modules/fk_library/app/library/repositories/AuthorRepository.scala
  project/plugins.sbt
Due: fk-server, fk-scheduler

change
  README.md
  docs/clientid.md
  fk_core/app/core/dto/DTOImplicits.scala
Due: fk-server, fk-scheduler

fix play evolutions limit, fix codegen-delete
  fk_codegen/src/main/scala/codegen/SlickCodegen.scala
  fk_core/app/core/tables/PlayEvolutionsTable.scala
  fk_core/app/core/tables/Tables.scala
  fk_core/app/core/tables/Test1Table.scala
  fk_core/app/core/tables/Test2Table.scala
  fk_server/conf/evolutions/default/1.sql
  fk_server/conf/evolutions/default/2.sql
  fk_server/conf/evolutions/default/3.sql
  fk_server/conf/evolutions/default/4.sql
  fk_server/conf/evolutions/default/5.sql
Due: fk-server, fk-scheduler

Refs: #1 - sbt-swagger is able to create cookie-auth with swagger-3.0.
  build.sbt
  fk_core/app/core/util/QueryParamModel.scala
  fk_server/app/server/controllers/HealthcheckController.scala
  fk_server/conf/routes
  fk_server/conf/swagger-custom-mappings.yml
  fk_server/conf/swagger.json
  fk_server/conf/test.json
  fk_server/public/swagger-ui/favicon-16x16.png
  fk_server/public/swagger-ui/favicon-32x32.png
  fk_server/public/swagger-ui/index.css
  fk_server/public/swagger-ui/index.html
  fk_server/public/swagger-ui/oauth2-redirect.html
  fk_server/public/swagger-ui/swagger-initializer.js
  fk_server/public/swagger-ui/swagger-ui-bundle.js
  fk_server/public/swagger-ui/swagger-ui-es-bundle-core.js
  fk_server/public/swagger-ui/swagger-ui-es-bundle.js
  fk_server/public/swagger-ui/swagger-ui-standalone-preset.js
  fk_server/public/swagger-ui/swagger-ui.css
  fk_server/public/swagger-ui/swagger-ui.js
  modules/fk_library/app/library/controllers/AuthorController.scala
  modules/fk_library/app/library/controllers/AuthorExampleController.scala
  modules/fk_library/app/library/controllers/AuthorTransferController.scala
  modules/fk_library/app/library/dtos/AuthorDTO.scala
  modules/fk_library/app/library/dtos/AuthorPaginateDTO.scala
  modules/fk_library/app/library/dtos/BookDTO.scala
  modules/fk_library/app/library/dtos/BookStoreDTO.scala
  modules/fk_library/app/library/dtos/BookToBookStoreDTO.scala
  modules/fk_library/conf/library.routes
  project/plugins.sbt
Due: fk-server, fk-scheduler

Refs: #3 - simple auth demo
  build.sbt
  docs/auth.md
  fk_scheduler/app/scheduler/controllers/HealthcheckController.scala
  fk_server/conf/routes
  modules/fk_auth/app/auth/controllers/AuthController.scala
  modules/fk_auth/app/auth/controllers/HomeController.scala
  modules/fk_auth/app/auth/controllers/helpers/UserAction.scala
  modules/fk_auth/app/auth/managers/AuthManager.scala
  modules/fk_auth/app/auth/models/SessionDAO.scala
  modules/fk_auth/app/auth/models/UserDAO.scala
  modules/fk_auth/conf/application.conf
  modules/fk_auth/conf/auth.routes
  modules/fk_library/conf/library.routes
  modules/fk_store/conf/store.routes
Due: fk-server, fk-scheduler

remove example
  .bsp/sbt.json
Due: none

gitignore
  .gitignore
Due: none

changes
  build.sbt
  fk_foundation/app/foundation/dtos/QueryParamDTO.scala
  fk_foundation/app/foundation/repository/Repository.scala
  fk_foundation/app/foundation/util/QueryParamModel.scala
  fk_foundation/app/foundation/util/QueryParamUtil.scala
  modules/fk_core/app/core/controllers/AuthController.scala
  modules/fk_core/app/core/managers/AuthManager.scala
  modules/fk_library/app/library/controllers/AuthorController.scala
  modules/fk_library/app/library/controllers/AuthorExampleController.scala
  modules/fk_library/app/library/controllers/AuthorTransferController.scala
  modules/fk_library/app/library/controllers/BookToBookStoreController.scala
  modules/fk_library/app/library/managers/AuthorExampleManager.scala
  modules/fk_library/app/library/managers/AuthorManager.scala
  modules/fk_library/app/library/repositories/AuthorRepository.scala
  modules/fk_library/app/library/transfers/AuthorTransfer.scala
  modules/fk_library/conf/library.routes
  services/fk_backend/conf/swagger-ui/swagger.json
Due: fk-server

swagger refactor
  modules/fk_library/conf/library.routes
  modules/fk_library/conf/library.swagger/author.add.post.json
  modules/fk_library/conf/library.swagger/author.delete.post.json
  modules/fk_library/conf/library.swagger/author.example.testTransactionWithRollback.json
  modules/fk_library/conf/library.swagger/author.export.csv.post.json
  modules/fk_library/conf/library.swagger/author.export.pdf.get.json
  modules/fk_library/conf/library.swagger/author.paginate.post.json
  modules/fk_library/conf/library.swagger/bookToBookStore.update.put.json
  services/fk_backend/conf/swagger-custom-mappings.json
  services/fk_backend/conf/swagger-custom-mappings.yml
Due: fk-server

changes
  modules/fk_library/conf/library.routes
  modules/fk_library/conf/library.swagger/author.delete.post.json
  modules/fk_library/conf/library.swagger/author.example.testTransactionWithRollback.json
  modules/fk_library/conf/library.swagger/author.export.csv.post.json
  modules/fk_library/conf/library.swagger/author.export.pdf.get.json
  services/fk_backend/conf/swagger-ui/swagger.json
  services/fk_backend/conf/test.json
Due: fk-server

changes
  fk_codegen/src/main/scala/codegen/SlickCodegen.scala
  services/fk_backend/conf/routes
  services/fk_backend/conf/swagger-ui/swagger.json
Due: none

dbrunner should injected
  fk_foundation/app/foundation/persistence/DbRun.scala
  fk_foundation/app/foundation/persistence/DbRunner.scala
  modules/fk_library/app/library/managers/AuthorExampleManager.scala
  modules/fk_library/app/library/managers/AuthorManager.scala
  modules/fk_library/app/library/managers/BookToBookStoreManager.scala
  modules/fk_library/app/library/transfers/AuthorTransfer.scala
  modules/fk_library/test/library/managers/BookToBookStoreManagerSpec.scala
  services/fk_backend/conf/swagger-ui/swagger.json
Due: fk-server

diagram
  README.md
Due: none
